---
import { Card } from "@/components/ui/card";
import { Input } from "@/components/ui/input";
import { Textarea } from "@/components/ui/textarea";
import { Label } from "@/components/ui/label";

import { Button } from "@/components/ui/button";
import Layout from "@/layouts/Layout.astro";
import { Contact } from "@/components/Contact";
import type { Fragment } from "react";
const contactRequest = await fetch(
    `${import.meta.env.PUBLIC_STRAPI_URL}/api/contacto?populate[Contacto][populate]=*`,
    {
        method: "GET",
        headers: {
            "Content-Type": "application/json",
            Authorization: `Bearer ${import.meta.env.PUBLIC_STRAPI_KEY}`,
        },
    },
);
const request = await fetch(
    `${import.meta.env.PUBLIC_STRAPI_URL}/api/contacto?populate=*`,
    {
        method: "GET",
        headers: {
            "Content-Type": "application/json",
            Authorization: `Bearer ${import.meta.env.PUBLIC_STRAPI_KEY}`,
        },
    },
);
const response = await request.json();
const { Titulo } = response.data;
const contactResponse = await contactRequest.json();
const { data } = contactResponse;
---

<Layout>
    <section class="bg-muted py-15 sm:py-24 lg:py-32">
        <div class="mx-auto max-w-4xl px-4 lg:px-0">
            <h1 class="text-4xl font-semibold lg:text-5xl">
                {Titulo.Contenido}
            </h1>
            <p class="text-muted-foreground mt-4 text-lg">
                {Titulo.Subtitulo}
            </p>
            <div class="mt-12 grid gap-12 lg:grid-cols-5">
                <div
                    class="grid grid-cols-2 lg:col-span-2 lg:block lg:space-y-12"
                >
                    {
                        data?.Contacto.map((contact: any) => (
                            <div class="flex flex-col justify-between space-y-6">
                                <div>
                                    <h2 class="mb-3 text-lg font-semibold">
                                        {contact.Titulo}
                                    </h2>
                                    <a
                                        href="mailto:cdescomunica@cdes.do"
                                        class="text-primary text-lg hover:underline"
                                    >
                                        {contact.Correo}
                                    </a>
                                    <p class="mt-3 text-sm">
                                        {contact.Telefono}
                                    </p>
                                </div>
                            </div>
                        ))
                    }
                </div>

            <Contact client:load/>
            </div>
        </div>
    </section>
</Layout>
