---
import '../styles/globals.css';
export const prerender = false;
import {Menu} from '../components/Menu';
import FooterSection from '@/components/astro/FooterSection.astro';

const footerRequest = await fetch(
	`${import.meta.env.PUBLIC_STRAPI_URL}/api/pie-de-pagina?populate=*`,
	{
		method: "GET",
		headers: {
			"Content-Type": "application-json",
			Authorization: `Bearer ${import.meta.env.PUBLIC_STRAPI_KEY}`,
		},
	},
);

const footerResponse = await footerRequest.json();
const { Enlaces, RedSocial } = footerResponse.data;
---
<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.ico" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro Basics</title>
	</head>
	<body>
		<Menu client:load/>
		<slot />
		<FooterSection RedSocial={RedSocial}, Enlaces={Enlaces} />
	</body>
</html>
 
